
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
     <header class="masthead" style="background-image: url('/custom/client/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>
}
<div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>&nbsp; Chào mừng tới với thế giới ẩm thực đầy màu sắc và hương vị. Đây là trang web hoàn hảo cho những ai đam mê nấu ăn hoặc đơn giản là thích thưởng thức các món ăn ngon. Chúng tôi cung cấp cho bạn những công thức đơn giản nhưng cực kỳ hấp dẫn, từ những món ăn truyền thống đến những món ăn hiện đại đầy sáng tạo. Trang web của chúng tôi được cập nhật thường xuyên, nên bạn sẽ luôn có thể tìm thấy những công thức mới để thử nghiệm. Ngoài ra, chúng tôi cũng cung cấp các bài viết về các sản phẩm ẩm thực, từ nguyên liệu đến các công dụng và lợi ích của chúng.</p>
        <br />
        <p>Ẩm thực ngày nay khá đa dạng từ món ăn Việt, Tây, Âu, Á đã xâm nhập vào thị trường Việt Nam. Ở Việt Nam, đặt biệt là các thành phố lớn khu đông dân cư các nhà hàng, quán ăn, quán nhậu mộc lên như nấm để đáp ứng nhu cầu của thực khách bốn phương. Hiện nay, có rất nhiều website về ẩm thực cũng khá đa dạng từ dạy nấu ăn, chia sẻ kinh nghiệm, đề xuất địa điểm, đặt hàng online... Tuy nhiên, ăn uống và vệ sinh an toàn thực phẩm cũng rất quang trọng bạn nên tìm hiểu kỹ và bổ sung kiến thức cho mình để được an toàn hơn nhé!</p>
        <p>&nbsp; Chúng tôi tin rằng ẩm thực là một nghệ thuật, và chúng tôi đặt mục tiêu giúp mọi người có thể tiếp cận được với nghệ thuật ẩm thực này một cách dễ dàng, thú vị và đầy sáng tạo. Với những bài hướng dẫn chi tiết và dễ hiểu, các bạn sẽ có thể tự tin thể hiện tài năng nấu nướng của mình và tự tạo ra những bữa ăn tuyệt vời cho bạn bè và gia đình. Hãy để trang web của chúng tôi trở thành nguồn cảm hứng và khu vườn ẩm thực của bạn!</p>
    </div>
    </div>
<div class="col-lg-3 mx-auto">
            <partial name="_PartialAboutCard" />
</div>